= form_for @farm, :html => {:class => "general-form"} do |f|
  - if @farm.errors.any?
    #error_explanation
      %h2
        = pluralize(@farm.errors.count, "error")
        prohibited this farm from being saved:
      %ul
        - @farm.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :bushes
    = f.number_field :bushes, :in => 0..10000000000000000000
  .field
    = f.label :workers
    = f.number_field :workers, :in => 0..10000000000000000000
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit :id => :create_farm, :class => "green-btn"
