<%= form_for(@farm) do |f| %>
  <% if @farm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

      <ul>
      <% @farm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bushes %><br />
    <%= f.number_field :bushes %>
  </div>
  <div class="field">
    <%= f.label :workers %><br />
    <%= f.number_field :workers %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
