%h1 Farms

%table#main
  %tr
    %th= sortable_header('Name', @sort_by)
    %th= sortable_header('Bushes', @sort_by)
    %th= sortable_header('Workers', @sort_by)
    %th= sortable_header('Longitude', @sort_by)
    %th= sortable_header('Latitude', @sort_by)
    %th= sortable_header('Notes', @sort_by)
    %th= sortable_header('Report Date', @sort_by)
    %th
  -@farms.each do |farm|
    %tr
      %td#main= link_to farm.name, farm
      %td#main= link_to farm.bushes, farm
      %td#main= link_to farm.workers, farm
      %td#main= link_to farm.longitude, farm
      %td#main= link_to farm.latitude, farm
      %td#main= link_to farm.notes, farm
      %td#main= link_to farm.updated_at, farm
      %td#main= link_to('Edit', edit_farm_path(farm), :id => "edit #{farm.name}") + ' | ' + link_to('Destroy', farm, method: :delete, data: { confirm: 'Are you sure?' })
%br
= link_to 'New Farm', new_farm_path, :id => "create_farm"

= link_to "CSV", farms_path(format: "csv")


%h2 Import Products
= form_tag import_farms_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"