-content_for(:left_bar_title, @farm.name)
-content_for(:left_bar_content) do
  = link_to 'Edit ' + @farm.name, edit_farm_path(@farm), :class => "left_bar_button edit"
  = link_to 'Back to farms', farms_path, :class => "left_bar_button"

-content_for(:content) do
  %p
    Bushes: 
    = @farm.bushes

  %p
    Workers: 
    = @farm.workers

  %p
    Latitude: 
    = @farm.latitude

  %p
    Longitude:
    = @farm.longitude

%p
  -if @farm.payGroup
    %b Pay Group:
    = @farm.payGroup.name

  %p
    Yield:
    = @yield

  %h3= "All Tea Deposits For " + @farm.name

  %table.data
    %tr
      %th Weight
      %th Quality 
      %th Created 
      %th Collection Point
      %th
      %th

    - @deposits.each do |deposit|
      %tr
        %td= deposit.weight
        %td= deposit.quality
        %td= deposit.created_at
        -if deposit.cp
          %td= deposit.cp.name
        -else
          %td
        %td= link_to 'Show', deposit
        %td= link_to 'Edit', edit_deposit_path(deposit)
        %td= link_to 'Destroy', deposit, :method => :delete, :data => { :confirm => 'Are you sure?' }
