<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @farm.name %>
</p>

<p>
  <b>Bushes:</b>
  <%= @farm.bushes %>
</p>

<p>
  <b>Workers:</b>
  <%= @farm.workers %>
</p>

<p>
  <b>Longitude:</b>
  <%= @farm.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @farm.latitude %>
</p>

<p>
  <b>Notes:</b>
  <%= @farm.notes %>
</p>


<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
