= form_for @user do |f|
  .field
    = label_tag 'user[name]', "Name"
    %br/
    = f.text_field :name

  .field
    = f.label :email, 'Email Address'
    %br/
    = f.text_field :email

  .field
    = f.label :password, 'Password'
    %br/
    = f.text_field :password

  .field
    = f.label :user_type_id, 'User Type'
    %br/
    = collection_select :user, :user_type_id, UserType.all, :id, :formatted_name, {selected: UserType.find_by_name('intern').id}

  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit (params[:action] == 'new') ? 'Create User' : 'Save Changes'
