= form_for @user.becomes(User) do |f|
  .field
    = label_tag 'user[name]', "Name"
    %br/
    = f.text_field :name

  .field
    = f.label :email, 'Email Address'
    %br/
    = f.text_field :email

  .field
    = f.label :password, 'Password'
    %br/
    = f.text_field :password

  .field
    = f.label :type, 'User Type'
    %br/
    -#= collection_select :user_type, nil, User.subclasses, :name, :name, {selected: Intern}
    = select_tag(:user_type, options_for_select(user_types))

  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit (params[:action] == 'new') ? 'Create User' : 'Save Changes'
