
=form_for(resource, :as => resource_name, :url => users_path, :html => {:class => "general-form"}) do |f|
  = devise_error_messages!

  %div
    = f.label :name
    %br/
    = f.text_field :name, :autofocus => true

  %div
    = f.label :email
    %br/
    = f.email_field :email

  .field
    = f.label :type, 'User Type'
    %br/
    = select_tag(:user_type, options_for_select(user_types))

  %div
    = f.submit "Register User", :class => "green-btn"
