%h1 = @user.name
%p#notice= notice

%div
  %p
    Email Address:
    = @user.email

  %p
    User Type
    = @user.type.capitalize

  %p
    Password
    = link_to 'Edit Password', edit_user_password_path(@user)

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
