= form_for @cp, :html => {:class => "general-form"} do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .actions
    = f.submit :id => :create_cp, :class => "green-btn"
