=hybridMap
-content_for(:left_bar_title, "Collection")
-content_for(:left_bar_content) do
  =link_to "New Collection Point", new_cp_path, :class=> "left_bar_button"
  = link_to "Export Collection Points as CSV", cps_path(format: "csv"), :class=> "left_bar_button", :id => "export_csv"
  %div.left_bar_button
    %h2 Import Collection Points
    = form_tag import_cps_path, multipart: true do
      = file_field_tag :file, :id=>"file"
      = submit_tag "Import", :id=>"Import", :disabled=>true

-content_for(:content) do
  %table.data.sortable
    %tr
      %th Name
      %th Created
      %th Latitude
      %th Longitude
      %th
    -@cps.each do |cp|
      %tr
        %td= link_to cp.name, cp
        %td= link_to cp.updated_at, cp
        %td= link_to cp.latitude, cp
        %td= link_to cp.longitude, cp
        %td.edit= link_to('Edit', edit_cp_path(cp), :id => "edit #{cp.name}") + ' | ' + link_to('Destroy', cp, method: :delete, data: { confirm: 'Are you sure?' })

  %table.data.mapdata.hidden
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Number of Leaves
    -@cpDetails.each do |cpDetail|
      %tr
        %td.name= cpDetail['name']
        %td.latitude= cpDetail['latitude']
        %td.longitude= cpDetail['longitude']
        %td.numLeaves= cpDetail['leaves']

  %div#map

:javascript
$document.ready(function() {
  console.log($("#map"));
});
