-content_for(:left_bar_title, @cp.name)
-content_for(:left_bar_content) do
  = link_to 'Edit ' + @cp.name, edit_cp_path(@cp), :class => "left_bar_button edit"
  = link_to 'Back to collection points', cps_path, :class => "left_bar_button"

-content_for(:content) do

  %p
    Latitude: 
    = @cp.latitude

  %p
    Longitude: 
    = @cp.longitude

  %h3= "All Tea Deposits For " + @cp.name

  %table.data
    %tr
      %th Weight
      %th Quality
      %th Created
      %th Farm
      %th

    - @deposits.each do |deposit|
      %tr
        %td= deposit.weight
        %td= deposit.quality
        %td= deposit.created_at
        -if deposit.farm
          %td= deposit.farm.name
        -else
          %td
        %td.edit= link_to('Show', deposit) + ' | ' +  link_to('Edit', edit_deposit_path(deposit), :id => "edit") + ' | ' + link_to('Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' })

