<div id="container" class="LogInBox">
  <br>
  <img src=url(assets/images/tea-tracker-logo.png)>
  <h2 class="side" id="small">TEA</h2>
  <h2 class="side" class="LogIn" id="large">TRACKER</h2>
  <br>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
    <br>
    <%= f.email_field :email, :class=>"field",:autofocus => true, :placeholder=>"Email" %></div>
    <br>

    <div>
    <%= f.password_field :password, :class=>"field", :placeholder=>"Password" %></div>
  <br>
  <%= render "devise/shared/links" %>

  <br>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <br>

  <div><%= f.submit "LOGIN", :id=>"SignIn" %></div>
<% end %>
</div>

