= form_for @deposit, :html => {:class => "general-form"} do |f|
  .field
    = f.label :weight
    = f.number_field :weight, :in => 0..10000000000000000000, :step => 0.01
  .field
    = f.label :quality
    = f.text_field :quality
  .field
    = f.label :farm
    = f.select :farm_id, Farm.all.map {|f| [f.name, f.id] }
  .actions
    = f.submit :id => :create_deposit, :class => "green-btn"
