-content_for(:left_bar_title, "Tea Deposits")
-content_for(:left_bar_content) do
  = link_to 'New Tea Deposit', new_deposit_path, :id => "create_deposit", :class => "left_bar_button"
  = link_to "Export Deposits as CSV", farms_path(format: "csv"), :class=> "left_bar_button", :id => "export_csv"
  %div.left_bar_button
    %h2 Import Deposits
    = form_tag import_deposits_path, multipart: true do
      = file_field_tag :file, :id=>"file"
      = submit_tag "Import", :id=>"Import", :disabled=>true


-content_for(:content) do
  %table.data
    %tr
      %th= deposit_header('Weight', @sort_by)
      %th= deposit_header('Quality', @sort_by)
      %th= deposit_header('Weighed At', @sort_by)
      %th= deposit_header('Farm', @sort_by)
      %th= deposit_header('Collection Point', @sort_by)
      %th= deposit_header 'Error?', @sort_by
      %th
      %th
      %th

    - @deposits.each do |deposit|
      %tr{class: ("unresolved" if deposit.possible_duplicate?)}
        %td= deposit.weight
        %td= deposit.quality
        %td= deposit.weighed_at
        -if deposit.farm
          %td= deposit.farm.name
        -else
          %td
        -if deposit.cp
          %td= deposit.cp.name
        -else
          %td
        - if deposit.possible_duplicate?
          %td= link_to 'Mark Resolved', resolve_path(deposit), method: :put
        - else
          %td
        %td= link_to 'Show', deposit
        %td= link_to 'Edit', edit_deposit_path(deposit)
        %td= link_to 'Destroy', deposit, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

