-content_for(:left_bar_title, "Tea Deposits")
-content_for(:left_bar_content) do
  = link_to 'New Tea Deposit', new_deposit_path, :id => "create_deposit", :class => "left_bar_button"

%h1 Listing deposits

%table
  %tr
    %th= deposit_header('Weight', @sort_by)
    %th= deposit_header('Quality', @sort_by)
    %th= deposit_header('Created', @sort_by)
    %th Farm
    %th
    %th
    %th

  - @deposits.each do |deposit|
    %tr
      %td= deposit.weight
      %td= deposit.quality
      %td= deposit.created_at
      %td= deposit.farm
      %td= link_to 'Show', deposit
      %td= link_to 'Edit', edit_deposit_path(deposit)
      %td= link_to 'Destroy', deposit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

