!!!
%html
  %head
    %title TeaTracker
    = stylesheet_link_tag    "reset", "jquery-ui-1.10.4.custom.min.css", :media => "all"
    = stylesheet_link_tag    "application", :media => "all"
    = favicon_link_tag "/favicon.ico"
    = controller_stylesheet_link_tag
    = javascript_include_tag "jquery-ui-1.10.4.custom.min.js", "application"
    = yield(:head)

    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="//use.edgefonts.net/league-gothic.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />

  %body
    -if user_signed_in?
      %nav.right-side-nav
        %ul
          %li.logo.right-navigation-item
          %li.right-navigation-item
            = link_to_unless_current "Farms", farms_path() do
              %div.active Farms
          %li.right-navigation-item
            = link_to_unless_current "Collection Points", cps_path() do
              %div.active Collection Points
          %li.right-navigation-item
            = link_to_unless_current "Tea Deposits", deposits_path() do
              %div.active Tea Deposits
          %li.right-navigation-item
            = link_to_unless_current "Manage", users_path do
              %div.active Manage
          %li.right-navigation-item
            = link_to_unless_current "Pay Groups", pay_groups_path do
              %div.active Pay Groups
          %li.right-navigation-item
            = link_to_unless_current "Pathing", pathing_path do
              %div.active Pathing


          %li.right-navigation-item.logout
            -if user_signed_in?
              =link_to 'Logout', destroy_user_session_path, id: 'logout', method: :delete
            -else
              =link_to 'Sign In', new_user_session_path, id: 'login'

    -if user_signed_in?
      %div.left-side-bar
        %h1= yield(:left_bar_title)
        %div= yield(:left_bar_content)

    %div.content
      %p.notice= flash[:notice] unless flash[:notice].blank?
      %p.error= flash[:alert] unless flash[:alert].blank?
      = yield(:content)
      = yield
