!!!
%html
	%head
		%title TeaTracker
		= stylesheet_link_tag    "application", :media => "all"
		= stylesheet_link_tag params[:controller]
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		%div#wrapper
			%div#main.container
				%div#logo
				%a#login Intern Login
				%nav
					%ul
						%li
							= link_to_unless_current "Farms", farms_path() do
								<span class="current">Farms<span>
						%li
							%a Graphs
						%li
							%a Inventory
						%li
							%a Users
				%div.content{:style=> "backgroundr-color:yellow"}
					= yield
			%div#footer
				%div.container &copy; 2013 &ndash; Lujeri Tea Co.
